<div class="flex flex-wrap justify-content-center gap-3 py-4">
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      class="border-round"
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-typescript-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="TypeScript"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      class="border-round"
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-javascript-32.png"
      alt="JavaScript"
      pTooltip="JavaScript"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
      height="24"
      width="24"
      style="cursor: pointer"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      class="border-round"
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-python-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Python"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      class="border-round"
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-go-32.png"
      alt="Image"
      height="24"
      width="24"
      pTooltip="GoLang"
      style="cursor: pointer"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      class="border-round"
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-html-32.png"
      alt="Image"
      height="24"
      width="24"
      pTooltip="HTML5"
      style="cursor: pointer"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-angular-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Angular"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-nodejs-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Node.js"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-express-js-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Express"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-nestjs-48.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="NestJS"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-graphql-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="GraphQL"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/Strapi.monogram.logo.svg"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Strapi CMS"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-css3-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="CSS3"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-figma-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Figma"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/primeng-logo-black.webp"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="PrimeNG"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-mongodb-a-cross-platform-document-oriented-database-program-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="MongoDB"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-postgresql-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="PostgreSQL"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-sqlite-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="SQLite"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-docker-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Docker"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-kubernetes-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Kubernetes"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/amazon-web-services-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="AWS"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/cypress.svg"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Cypress"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/jest-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="Jest"
      tooltipPosition="right"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
  <div class="p-col-6 p-md-4 p-lg-3 p-xl-2">
    <img
      ngSrc="https://tricalculator-images.s3.eu-central-1.amazonaws.com/website/icons8-github-32.png"
      alt="Image"
      height="24"
      width="24"
      style="cursor: pointer"
      pTooltip="GitHub Actions"
      tooltipPosition="left"
      tabindex="0"
      tooltipEvent="focus"
    />
  </div>
</div>
