<div class="mx-auto max-w-40rem">
  <app-breadcrumb></app-breadcrumb>
</div>

<section>
  <div class="px-2 relative pb-2 sm:max-w-30rem mx-auto overflow-hidden">
    <div class="text-left relative text-white-alpha-90">
      <h1
        i18n="@@imprint"
        class="text-3xl m-0 p-0 mb-2"
      >
        Impressum
      </h1>
      <h2 i18n="@@tmg">Angaben gem&auml;&szlig; &sect; 5 TMG</h2>
      <p>
        Jan Esser<br />
        c/o MDC Management#4441<br />
        Welserstraße 3<br />
        87463 Dietmannsried <br />
        Germany
      </p>
      <h2 i18n="@@contactHeader">Kontakt</h2>
      <p>
        <ng-container i18n="@@phone">Telefon</ng-container>: +4915151869923<br />
        <ng-container i18n="@@fax">Telefax</ng-container>: +4986519974984<br />
        Mail: info&#64;janesser.net
      </p>
      <h2 i18n="@@tax">Umsatzsteuer-ID</h2>
      <p>
        <span i18n="@@sales-tax"
          >Umsatzsteuer-Identifikationsnummer gem&auml;&szlig; &sect; 27 a
        </span>
        <span i18n="@@sales-tax-law">Umsatzsteuergesetz:</span>
        DE323428096
      </p>
      <h2 i18n="@@insurance-office">Redaktionell verantwortlich</h2>
      <p>
        Jan Esser<br />
        c/o MDC Management#4441<br />
        Welserstraße 3<br />
        87463 Dietmannsried<br />
        Germany
      </p>
      <h2 i18n="@@eu-dispute">EU-Streitschlichtung</h2>
      <p>
        <span i18n="@@eu-dispute-resolution"
          >Die Europ&auml;ische Kommission stellt eine Plattform zur
          Online-Streitbeilegung (OS) bereit:
        </span>
        <a
          href="https://ec.europa.eu/consumers/odr/"
          target="_blank"
          rel="noopener noreferrer"
        >
          https://ec.europa.eu/consumers/odr/</a
        >.<br />
        <span i18n="@@eu-dispute-mail"
          >Unsere E-Mail-Adresse finden Sie oben im Impressum.</span
        >
      </p>
      <h2 i18n="@@eu-dispute-resolution">
        Verbraucher&shy;streit&shy;beilegung/Universal&shy;schlichtungs&shy;stelle
      </h2>
      <p i18n="@@eu-dispute-resolution-text">
        Wir sind nicht bereit oder verpflichtet, an Streitbeilegungsverfahren
        vor einer Verbraucherschlichtungsstelle teilzunehmen.
      </p>
    </div>
  </div>
</section>
