<div class="mt-4 mb-4">
  <p-accordion value="0">
    <p-accordion-panel value="1">
      <p-accordion-header
        class="text-lg text-white-alpha-90 hover:text-white-alpha-80 p-2"
        i18n="@@resumeHeader"
        >Lebenslauf</p-accordion-header
      >
      <p-accordion-content>
        <div class="text-800 text-left text-sm">
          <div class="text-base font-bold mb-2 pt-3" i18n="@@professional-experience">
            Berufliche Erfahrung
          </div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="grid mt-2">
            <div class="col-4" i18n="@@today">2023 - heute</div>
            <div class="col-8">
              <a
                class="no-underline transition-colors transition-duration-150 text-white-alpha-90 hover:text-white-alpha-80"
                href="https://triathlonpace.com"
                >Triathlon Pace</a
              >
              <h4 class="p-0 m-0 mt-2 font-italic">Founder & Developer</h4>
<!--              <p class="p-0 m-0 mt-2">-->
<!--                A web application designed to provide triathletes with highly-->
<!--                personalized, elevation-adjusted pacing strategies for specific-->
<!--                race courses.-->
<!--              </p>-->
<!--              <ul class="pl-0 mt-2">-->
<!--                <li class="mb-2">-->
<!--                  Identified a market gap for pace calculators that synthesize-->
<!--                  personal physiological data (FTP, CSS, LT-Pace) with-->
<!--                  real-world race course profiles to generate actionable pacing-->
<!--                  strategies.-->
<!--                </li>-->
<!--                <li class="mb-2">-->
<!--                  Developed and deployed a full-stack application from concept-->
<!--                  to launch, handling all aspects of frontend, UI/UX, backend,-->
<!--                  and deployment.-->
<!--                </li>-->
<!--                <li class="mb-2">-->
<!--                  Designed an intuitive user interface allowing athletes to-->
<!--                  input personal metrics (Weight, FTP, CSS, LT Pace) for a-->
<!--                  tailored pacing strategy.-->
<!--                </li>-->
<!--              </ul>-->
            </div>
            <div class="col-4" i18n="@@today">2022 - heute</div>
            <div class="col-8">
              <h4 class="p-0 m-0 white-space-nowrap" i18n="@@developer">
                Selbstständiger Web Engineer
              </h4>
              <ul class="pl-0 mt-2"></ul>
            </div>
            <div class="col-4">10/2019 - 06/2022</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                GenoVerband e.V., <span i18n="@@dusseldorf">Düsseldorf</span>
              </h4>
              <div class="font-italic" i18n="@@auditor">Prüfer</div>
              <ul class="pl-0 mt-2">
                <li i18n="@@verband-1">
                  Mitwirkung bei Jahres- und Konzernabschlussprüfungen
                </li>
                <li i18n="@@verband-2">
                  Validierung des internen Kontrollsystems
                </li>
                <li i18n="@@verband-3">
                  Durchführung von Kreditprüfungen und Einzelfallprüfungen
                </li>
              </ul>
            </div>
            <div class="col-4">07/2016 - 07/2019</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                Vistra GmbH & Co. KG WPG, <span i18n="@@cologne">Köln</span>
              </h4>
              <div class="font-italic" i18n="@@tax-assistant">
                Steuerassistent
              </div>
              <ul class="pl-0 mt-2">
                <li i18n="@@vistra-1">Jahresabschlüsse nach HGB</li>
                <li i18n="@@vistra-2">
                  Körperschaftsteuer- und Umsatzsteuererklärungen
                </li>
                <li i18n="@@vistra-3">Finanzbuchhaltung und Zahlungsverkehr</li>
              </ul>
            </div>
            <div class="col-4">01/2016 - 06/2016</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                Deloitte GmbH WPG, <span i18n="@@dusseldorf">Düsseldorf</span>
              </h4>
              <div class="font-italic">
                <span i18n="@@intern">Praktikant</span> Business Tax – Advisory
                Services
              </div>
              <ul class="pl-0 mt-2">
                <li i18n="@@deloitte-1">
                  Mitarbeit Prüfung von Steuerbescheiden und Verlustvorträgen
                </li>
                <li i18n="@@deloitte-2">
                  Recherche zu Ertrags- und umsatzsteuerlichen Organschaft
                </li>
              </ul>
            </div>
            <div class="col-4">02/2013 - 12/2015</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                RTL Television GmbH, <span i18n="@@cologne">Köln</span>
              </h4>
              <div i18n="@@working-student-digital" class="font-italic">
                Werkstudent Geschäftsführung Digitale Spartenkanäle
              </div>
              <ul class="pl-0 mt-2">
                <li i18n="@@working-student-digital-1">
                  Unterstützung bei der Planung und Fertigstellung der
                  Sendeabläufe
                </li>
                <li i18n="@@working-student-digital-2">
                  Schnittfestsetzung unter Berücksichtigung der narrativen
                  Struktur
                </li>
              </ul>
            </div>
            <div class="col-4">08/2012 - 01/2013</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                RTL Television GmbH, <span i18n="@@cologne">Köln</span>
              </h4>
              <div i18n="@@working-student-corporate" class="font-italic">
                Werkstudent Unternehmensplanung & Controlling
              </div>
              <ul class="pl-0 mt-2">
                <li i18n="@@working-student-corporate-1">
                  Mitarbeit bei der Erstellung der Jahresplanung und des
                  Jahresabschlusses
                </li>
                <li i18n="@@working-student-corporate-2">
                  Erlöscontrolling, Kostenstellen-, Kostenträger- und
                  Kostenartencontrolling
                </li>
              </ul>
            </div>
            <div class="col-4">06/2011 - 07/2012</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                Abercrombie & Fitch Co., <span i18n="@@cologne">Köln</span>
              </h4>
              <div i18n="@@abercrombie" class="font-italic">
                Werkstudent Human Resources
              </div>
              <ul class="pl-0 mt-2">
                <li i18n="@@abercrombie-1">
                  Mitarbeit Personaleinsatzplanung und Einstellung neuer
                  Verkaufsmitarbeiter
                </li>
                <li i18n="@@abercrombie-2">
                  Durchführung von Telefoninterviews und Recruiting Events
                </li>
              </ul>
            </div>
          </div>
          <div i18n="@@education" class="text-base font-bold mb-2">Ausbildung</div>
          <hr class="my-3 mx-0 border-top-1 border-none surface-border" />
          <div class="grid mt-2">
            <div class="col-4">09/2011 - 03/2015</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                Rheinische Hochschule <span i18n="@@cologne">Köln</span>
              </h4>
              <div class="font-italic">
                Bachelor of Arts, Business Administration
              </div>
            </div>
            <div class="col-4">08/2008 - 05/2011</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                Waldhausen GmbH & Co. KG, <span i18n="@@cologne">Köln</span>
              </h4>
              <div i18n="@@training" class="font-italic">
                Ausbildung zum Kaufmann im Groß- und Außenhandel
              </div>
            </div>
            <div class="col-4">08/2004 - 06/2007</div>
            <div class="col-8">
              <h4 class="mb-2 p-0 m-0">
                Nell-Breuning-<span i18n="@@school">Berufskolleg</span>, Frechen
              </h4>
              <div class="font-italic" i18n="@@business-school">
                Wirtschaftsgymnasium, Fachhochschulreife
              </div>
            </div>
            <div class="col-4">10/2007 - 07/2008</div>
            <div class="col-8">
              <h4 i18n="@@senior-care" class="mb-2 p-0 m-0">
                St. Elisabeth Seniorenzentrum, Frechen
              </h4>
              <div i18n="@@senior-care-assistant" class="font-italic">
                Zivildienstleistender in der Betreuung
              </div>
            </div>
          </div>
        </div>
      </p-accordion-content>
    </p-accordion-panel>
  </p-accordion>
</div>
